@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container">
    <address>
        ..
    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21812.886108955354!2d102.02081297563937!3d14.880719198954926!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10533e4b3f07a09f!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Liq4Li44Lij4LiZ4Liy4Lij4Li1!5e0!3m2!1sen!2sth!4v1637142711859!5m2!1sen!2sth" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <address>
        <strong>Contact:</strong><br />
    </address>
</div>
